* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

*::before,
*::after {
   box-sizing: border-box;
}

body {
   font-family: 'Montserrat', sans-serif;
   font-size: 14px;
   color: #333333;
}

input,
button,
select,
textarea {
   font-family: 'Montserrat', sans-serif;
   font-size: 14px;
   outline: none;
}

input {
   line-height: normal;
}

button {
   cursor: pointer;
}

a {
   text-decoration: none;
}

img {
   max-width: 100%;
   display: block;
}
